
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/head")%>
    <title>Report Case</title>
</head>
<body>
    <%- include("partials/navigation")%>
      <script>
          function id_creade(){
              const id_box = document.getElementById("Creader");
              const Location= window.location.pathname;
              var Iduser="";
              Iduser=Location.replace('/user/upload/','')
              txtcaja.value=Iduser;
          }
      </script>
    <div class="container p-4" style="display: flex;">
        <form action="/user/upload" method="POST" enctype="multipart/form-data" class="-form"></form>
            <div class="card">
                <div class="card-body">
                    
                    <h4>Personal</h4>

                    <input name="name" type="text" placeholder="Nombre y Apellidos" class="form-control -form-input"><br/>
                    <input name="age" type="number" placeholder="Edad" class="form-control"><br/>
                    <input name="date_start" type="date" placeholder="Fecha Presento Sintomas" class="form-control"><br/>
                </div>
            </div>
            <div class="card" style="margin-left: 20px;">
                <div class="card-body">

                    <h4>Dirección</h4>

                    <input name="address" type="text" placeholder="Calle y Numero" class="form-control" required><br/>
                    <input name="sector" type="text" placeholder="Sector" class="form-control"><br/>
                    <input name="city" type="text" placeholder="Ciudad" class="form-control" required><br/>
                    <input name="province" type="text" placeholder="Provincia" class="form-control" required><br/>
                    <input name="country" type="text" placeholder="Pais" class="form-control" required><br/>

                </div>
            </div>
            <div class="card" style="margin-left: 20px;">
                <div class="card-body">

                    <h4>Contacto</h4>

                    <input name="contact_phone" type="text" placeholder="Telefono Contacto" class="form-control" required><br/>

                    <!-- <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                            <label class="custom-file-label" for="inputGroupFile01">Foto Afectado</label>
                        </div>
                    </div> -->

                    <h4>Cuadro Clinico</h4>

                    <div class="form-group">
                        <textarea name="symptoms" class="form-control" placeholder="Sintomas que Presenta" required></textarea><br/>
                    </div>

                    <input type="text" name="creader" id="creader" style="display:none">

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block" onclick="id_creader()">Upload</button>
                    </div>

                </div>
            </div>
        </form> 
    </div>

    <script>
        function id_creader(){
            const txtcaja= document.getElementById("creader");
            const Location= window.location.pathname;
            var Iduser=Location.replace('http://localhost:3000/user/','');
            Iduser=Iduser.replace('/user/upload/','')
            txtcaja.value=Iduser;
        }
    </script>

</body>
</html>