<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/user">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/user/upload">Reportar Caso</a>
      </li>
      <li class="nav-item ml-auto">
              <form action="/user/delete_image" method="post">
                 <!--
                   <a class="nav-link" href="'/user/:id/delete image'">Eliminar imagenes</a>
                 -->
                 <input type="text" name="creader" id="Creader" style="display:none">
                 <!-- <button type="submit"  onclick="id_creade()" class="btn btn-danger btn-block">Eliminar imagenes</button> -->
                 <button type="submit"  onclick="" class="btn btn-danger btn-block">Eliminar Caso</button>
              </form>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/global/cases">Casos Globales</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/map">Mapa de Casos</a>
      </li>
      <li class="nav-item ml-auto">
          <a class="nav-link" href="/logout">Cerrar sesion</a>
      </li>
  </ul>
  </div> 
</nav>   